{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body>
    <h1>Sample Server</h1>
    <div>
{{ if .Authed }}
      <p>
        <a href="/verify-spreadsheet">Verify spreadsheet access by access token (session).</a>
      </p>
  {{ if .HasReadyCredentials }}
      Server is ready.
      <p>
        <a href="/verify-spreadsheet-admin">Verify spreadsheet access by refresh token (file).</a>
      </p>
  {{ end }}
{{ else }}
  {{ if .HasReadyCredentials }}
      Server is ready.
      <p>
        <a href="/verify-spreadsheet-admin">Verify spreadsheet access by refresh token (file).</a>
      </p>
  {{ else }}
      <p>
        <strong>Server is not ready.</strong>
      </p>
      <p>
        Seeing this means that there is no refresh token on the server.
      </p>
      <p>
        Signing in now will create the refresh token using your account.
      </p>
  {{ end }}
  {{ if .UrlUserSignin }}
      <p>
        <a href="{{ .UrlUserSignin }}">Sign in</a>
      </p>
  {{ end }}
{{ end }}
    </div>
  </body>
</html>
{{end}}

