{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body>
    <h1>Sample Server</h1>
    <div>
{{ if .Authed }}
      <p>
        <a href="/dashboard">Go to dashboard</a>
      </p>
{{ else }}
  {{ if .HasReadyCredentials }}
      Server is ready.
  {{ end }}
  {{ if not .HasReadyCredentials }}
      Server is not ready.
  {{ end }}
  {{ if .UrlUserSignin }}
      <p>
        <a href="{{ .UrlUserSignin }}">Sign in</a>
      </p>
  {{ end }}
{{ end }}
    </div>
  </body>
</html>
{{end}}

